body {
	font-family: sans-serif;
	margin: auto;
	background-color:#E6E6E6;
}

#Sidenav a {
	position: absolute;
	right: -130px;
	transition: 0.3s;
	padding: 15px;
	width: 150px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 15px 0 0 15px;
}

#Sidenav a:hover {
	right: 0;
}

#WMESTS {
	top: 20px;
	background-color: #4CAF50;
}

#git {
	top: 80px;
	background-color: #2196F3;
}

#issues {
	top: 140px;
	background-color: #f44336;
}

#features {
	top: 200px;
	background-color: #555
}

#main {
	margin:2% 0% 0% 10%;
	padding:1% 2% 2% 2%;
	width:80%;
	background-color:#FFFFFF;
	border-radius: 5px;
}